<?xml version="1.0" encoding="ISO-8859-1"?>

## Better PDF Exporter for Jira Cloud
## Landscape-oriented issue list template that exports the columns defined by the filter's column layout.
## When exporting a single issue, it uses a default set of columns which is configurable right here in the template. See below.

#set($startAutoPagingAt = 1000) ## when issue count is equal to or greater than this, the template will start "auto paging" for optimization
#set($rowsPerPage = 32) ## number of rows per page at "auto paging" (see previous)

#set($excludedCustomFieldTypeKeys = [ 'com.pyxis.greenhopper.jira:gh-global-rank', 'com.pyxis.greenhopper.jira:gh-lexo-rank', 'com.atlassian.jira.ext.charting:firstresponsedate', 'com.atlassian.jira.ext.charting:timeinstatus', 'com.atlassian.jpo:jpo-custom-field-parent' ]) ## comma separated list the custom field type keys to be excluded from the export

## Jira Service Desk
#set($exportServiceDeskApprovalDecisions = false) ## set to "true" to export approver decisions

#macro(approvalDecision $approvalDecision)
	#if($approvalDecision == "approved")$i18n.getText("sd.approval.status.approved")#elseif($approvalDecision == "declined")$i18n.getText("sd.approval.status.declined")#else$i18n.getText("sd.approval.status.pending")#end
#end

## renders custom field values
#macro(cfValue $customField)
	#set($customFieldTypeKey = $customField.customFieldType.key)
	#set($moduleDescriptor = $customField.customFieldType.descriptor)
	#set($fieldLayoutItem = $fieldLayout.getFieldLayoutItem($customField.id))
	#set($customFieldValue = '')
	#set($customFieldValue = $issue.getCustomFieldValue($customField.id))

	#set($notSupported = "not supported yet")

	#if($customFieldValue != '')
		## standard custom field types
		#if($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:multicheckboxes' ||
			$customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:multiselect')
			#foreach($v in $customFieldValue)
				$xmlutils.escape(${v.value})#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:datepicker')
			$userDateTimeFormatter.withDefaultZone().withStyle($dateTimeStyle.DATE).format($customFieldValue)
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:datetime' ||
				$customFieldTypeKey == 'com.atlassian.jira.toolkit:LastCommentDate')
			$userDateTimeFormatter.withStyle($dateTimeStyle.COMPLETE).format($customFieldValue)
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:multigrouppicker' ||
				$customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:grouppicker' ||
				$customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:multiversion' ||
				$customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:version')
			#foreach($v in $customFieldValue)
				$xmlutils.escape(${v.name})#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:labels')
			#foreach($v in $customFieldValue)
				$xmlutils.escape(${v.label})#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:float')
			$number.format('#,###.###', $customFieldValue)
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:project')
			$xmlutils.escape($customFieldValue.name)
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:radiobuttons')
			$xmlutils.escape($customFieldValue.value)
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:cascadingselect')
			$xmlutils.escape($customFieldValue.get(null).toString().trim())#if($customFieldValue.get("1")) - $xmlutils.escape($customFieldValue.get("1").toString().trim())#end
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:select')
			$xmlutils.escape($customFieldValue.value)
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:url')
			<fo:basic-link color="#036" text-decoration="underline" external-destination="url('$xmlutils.escape($customFieldValue)')">$xmlutils.escape($customFieldValue)</fo:basic-link>
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:multiuserpicker')
			#foreach($v in $customFieldValue)
				$xmlutils.escape(${v.displayName})#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugin.system.customfieldtypes:userpicker')
			$xmlutils.escape(${customFieldValue.displayName})
		#elseif($customFieldTypeKey == 'com.atlassian.jira.toolkit:dayslastcommented')
			$userDateTimeFormatter.withStyle($dateTimeStyle.DATE).format($customFieldValue)
		## Jira Development Integration Plugin
		#elseif($customFieldTypeKey == 'com.atlassian.jira.plugins.jira-development-integration-plugin:devsummarycf')
			Development field ${notSupported}
		## Jira Service Desk custom field types
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk.approvals-plugin:sd-approvals')
			#foreach($approval in $customFieldValue)
				#set($decisionsAsString = "")
				#if($exportServiceDeskApprovalDecisions)
					#set($decisionsAsString = "#foreach($approver in $approval.approvers)$approver.approver.displayName: #approvalDecision($approver.approverDecision)#if($velocityCount < $approval.approvers.size()), #end#end")
				#end
				$xmlutils.escape($approval.name): #approvalDecision($approval.finalDecision)#if($exportServiceDeskApprovalDecisions) ($decisionsAsString)#end#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk.assets-plugin:assetfield')
			Assets field ${notSupported}
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk:sd-customer-organizations')
			#foreach($v in $customFieldValue)
				$xmlutils.escape($v.name)#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk:sd-request-feedback')
			$customFieldValue.rating
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk:sd-request-feedback-date')
			$userDateTimeFormatter.withStyle($dateTimeStyle.COMPLETE).format($customFieldValue)
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk:sd-request-participants')
			#foreach($v in $customFieldValue)
				$xmlutils.escape(${v.displayName})#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk:sd-sla-field')
			#set($slaValueStyle = "")
			#set($slaSymbol = "&#9679;")

			#if($customFieldValue.ongoingCycle)
				#if($customFieldValue.ongoingCycle.paused || !$customFieldValue.ongoingCycle.withinCalendarHours)
					#set($slaSymbol = "&#10074;&#8202;&#10074;")
				#end
				#if($customFieldValue.ongoingCycle.breached)
					#set($slaValueStyle = 'color="#d04437"')
				#end
				#set($slaValue = $customFieldValue.ongoingCycle.remainingTime.friendly)
			#else
				#set($completedCycles = $customFieldValue.completedCycles)
				#set($numberOfCompletedCycles = $completedCycles.size() - 1)
				#set($lastCompletedCycle = $completedCycles.get($numberOfCompletedCycles))
				#if($lastCompletedCycle.breached)
					#set($slaValueStyle = 'color="#d04437"')
					#set($slaSymbol = "&#10006;")
				#else
					#set($slaValueStyle = 'color="#14892c"')
					#set($slaSymbol = "&#10004;")
				#end
				#set($slaValue = $lastCompletedCycle.remainingTime.friendly)
			#end
			<fo:inline $slaValueStyle>$slaValue $slaSymbol</fo:inline>
		#elseif($customFieldTypeKey == 'com.atlassian.servicedesk:vp-origin')
			$xmlutils.escape($customFieldValue.requestType.name)
		## Jira Software custom field types
		#elseif($customFieldTypeKey == 'com.pyxis.greenhopper.jira:gh-sprint')
			#foreach($v in $customFieldValue)
				$xmlutils.escape(${v.name})#if($velocityCount < $customFieldValue.size()), #end
			#end
		#elseif($customFieldTypeKey == 'com.pyxis.greenhopper.jira:gh-epic-link')
			$xmlutils.escape($customField.customFieldType.getEpicDisplayName(${customFieldValue}))
		#else
			## other types, including 'com.atlassian.jira.plugin.system.customfieldtypes:textarea', 'com.atlassian.jira.plugin.system.customfieldtypes:textfield'
			#set($customFieldValue = $customFieldValue.toString().trim())
			#if($stringutils.isNotBlank($customFieldValue))
				$pdfRenderer.asRendered($issue, $customField.id, $customFieldValue)
			#end
		#end
	#end
#end

## helpers
#set ($Q = '"')

<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format" font-family="auto">
	<fo:layout-master-set>
		<fo:simple-page-master master-name="A4-landscape" page-width="29.7cm" page-height="21cm" margin-top="0.5cm" margin-bottom="0.5cm" margin-left="0.5cm" margin-right="0.5cm">
			<fo:region-body region-name="page-body" margin-top="0.6cm" margin-bottom="0.6cm" />
			<fo:region-before region-name="page-header" extent="0.5cm" />
			<fo:region-after region-name="page-footer" extent="0.5cm" />
		</fo:simple-page-master>
	</fo:layout-master-set>

	<fo:declarations>
		<x:xmpmeta xmlns:x="adobe:ns:meta/">
			<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
				<rdf:Description rdf:about="" xmlns:dc="http://purl.org/dc/elements/1.1/">
					<dc:title>$xmlutils.escape($title)</dc:title>
					<dc:creator>$xmlutils.escape($user.displayName)</dc:creator>
					<dc:description>Issue list exported from Jira</dc:description>
					<dc:subject>$xmlutils.escape($snsMessageId); #foreach($issue in $issues)$xmlutils.escape($issue.key)#if($velocityHasNext), #end#end</dc:subject>
				</rdf:Description>
				<rdf:Description rdf:about="" xmlns:xmp="http://ns.adobe.com/xap/1.0/">
					<xmp:CreatorTool>Better PDF Exporter for Jira Cloud - https://marketplace.atlassian.com/5167</xmp:CreatorTool>
				</rdf:Description>
			</rdf:RDF>
		</x:xmpmeta>
	</fo:declarations>

	<fo:bookmark-tree>
		#foreach($issue in $issues)
			<fo:bookmark internal-destination="$xmlutils.escape($issue.key)" >
				<fo:bookmark-title>$xmlutils.escape($issue.key)</fo:bookmark-title>
			</fo:bookmark>
		#end
	</fo:bookmark-tree>

	#if($issues && !$issues.empty)
		#set($issueTableLayoutBean = $tableLayoutFactory.getStandardExcelLayout($searchRequest, $user))
		#foreach($issue in $issues)
			#if(($velocityCount == 1) || (($issues.size() >= $startAutoPagingAt) && (($velocityCount - 1) % $rowsPerPage == 0)))
				<fo:page-sequence master-reference="A4-landscape">
					<!-- header -->
					<fo:static-content flow-name="page-header">
						<fo:block font-size="7pt" text-align-last="justify">
							<fo:inline>$xmlutils.escape($title)</fo:inline>
							<fo:leader/>
							<fo:inline>Page <fo:page-number /></fo:inline>
						</fo:block>
					</fo:static-content>

					<!-- footer -->
					<fo:static-content flow-name="page-footer">
						<fo:block font-size="7pt">
							Created at $userDateTimeFormatter.withStyle($dateTimeStyle.COMPLETE).format($currentDate) by $xmlutils.escape($user.displayName) with <fo:basic-link color="#036" text-decoration="underline" external-destination="url('http://www.midori-global.com/products/better-pdf-exporter-for-jira/cloud?utm_source=jpdfc&amp;utm_medium=template&amp;utm_campaign=gh&amp;utm_content=issue-navigator-fo')">Better PDF Exporter for Jira Cloud</fo:basic-link>
						</fo:block>
					</fo:static-content>

					<!-- body -->
					<fo:flow flow-name="page-body" font-size="7pt">
					    <fo:block>
							<fo:table>
								<fo:table-column column-number="1" column-width="25mm" />
								<fo:table-column column-number="2" column-width="auto" />
								<fo:table-column column-number="3" column-width="35mm" />
								<fo:table-body>
									<fo:table-row>
										<fo:table-cell>
											<fo:block font-size="48pt">
											<fo:external-graphic content-height="20mm" content-width="scale-to-fit" src="url('https://raw.githubusercontent.com/uayebforever/jc-jira/master/resources/James-Craig-Ship-Only.png')"/>
											</fo:block>
										</fo:table-cell>
										<fo:table-cell>
											<fo:block font-size="12pt">$xmlutils.escape($title)</fo:block>
											<fo:block font-size="7pt">James Craig</fo:block>
										</fo:table-cell>
										<fo:table-cell>
											<fo:block><fo:external-graphic content-height="20mm" content-width="scale-to-fit" src="url('https://www.shf.org.au/wp-content/themes/shf-2013/img/logo.jpg')"/></fo:block>
										</fo:table-cell>
									</fo:table-row>
								</fo:table-body>
							</fo:table>
						</fo:block>
						<fo:block>
							<fo:table table-layout="fixed">
								#foreach($columnLayoutItem in $issueTableLayoutBean.columns)
									## select the proportional column width based on the field
									#set($columnWidth = "1")
									#set($fieldId = $columnLayoutItem.navigableField.id)
									#if($fieldId == "summary")
										#set($columnWidth = "3")
									#elseif($fieldId == "description" || $fieldId == "environment")
										#set($columnWidth = "5")
									#elseif($fieldId.contains("customfield_"))
										#set($customFieldTypeKey = $columnLayoutItem.navigableField.customFieldType.key)
										#if($customFieldTypeKey.contains(":text") || $customFieldTypeKey == "com.idalko.jira.plugins.igrid:tableGridCFType")
											## text type custom fields
											#set($columnWidth = "5")
										#end
									#end
									<fo:table-column column-width="proportional-column-width($columnWidth)"/>
								#end
								<fo:table-header>
									<fo:table-row>
										#foreach($columnLayoutItem in $issueTableLayoutBean.columns)
											<fo:table-cell border="thin solid #000" background-color="#EEE" padding="0.1em">
												<fo:block-container overflow="hidden">
													<fo:block margin="0.1em" padding="0.1em" font-weight="bold">
														$i18n.getText($columnLayoutItem.navigableField.columnHeadingKey)
													</fo:block>
												</fo:block-container>
											</fo:table-cell>
										#end
									</fo:table-row>
								</fo:table-header>
								<fo:table-body>
			#end
			<fo:table-row>
				#foreach($columnLayoutItem in $issueTableLayoutBean.columns)
					#set($fieldId = $columnLayoutItem.navigableField.id)
					#set($value = '')

					## get value
					#if($fieldId == "project")
						#set($value = $xmlutils.escape($issue.projectObject.name))
					#elseif($fieldId == "versions")
						#set($value = "#foreach($affectedVersion in $issue.affectedVersions)$xmlutils.escape($affectedVersion.name)#if($velocityCount < $issue.affectedVersions.size()), #end#end")
					#elseif($fieldId == "assignee")
						#set($value = $xmlutils.escape($issue.assignee.displayName))
					#elseif($fieldId == "components")
						#set($value = "#foreach($component in $issue.components)$xmlutils.escape($component.name)#if($velocityCount < $issue.components.size()), #end#end")
					#elseif($fieldId == "comment")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "duedate")
						#if($issue.dueDate)
							#set($value = $userDateTimeFormatter.withDefaultZone().withStyle($dateTimeStyle.DATE).format($issue.dueDate))
						#end
					#elseif($fieldId == "fixVersions")
						#set($value = "#foreach($fixVersion in $issue.fixVersions)$xmlutils.escape($fixVersion.name)#if($velocityCount < $issue.fixVersions.size()), #end#end")
					#elseif($fieldId == "issuekey")
						#set($value = "<fo:basic-link color=${Q}#036${Q} text-decoration=${Q}underline${Q} external-destination=${Q}url('${requestContext.canonicalBaseUrl}/browse/$xmlutils.escape($issue.key)')${Q}>$xmlutils.escape($issue.key)</fo:basic-link>")
					#elseif($fieldId == "number")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "issuetype")
						#set($value = $xmlutils.escape($issue.issueTypeObject.nameTranslation))
					#elseif($fieldId == "thumbnail")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "issuelinks")
						#set($linkedIssues = $pdfContent.linkCollectionByIssue($issue).allIssues)
						#set($value = "#foreach($linkedIssue in $linkedIssues)#if($linkedIssue.resolution)<fo:inline text-decoration=${Q}line-through${Q}>#end$xmlutils.escape($linkedIssue.key)#if($linkedIssue.resolution)</fo:inline>#end#if($velocityCount < $linkedIssues.size()), #end #end")
					#elseif($fieldId == "lastViewed")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "workratio")
						#set($percentage = $workRatio.getWorkRatio($issue))
						#set($value = "#if($percentage >= 0)$percentage%#end")
					#elseif($fieldId == "subtasks")
						#set($value = "#foreach($subTask in $issue.subTaskObjects)$xmlutils.escape($subTask.key)#if($velocityCount < $issue.subTaskObjects.size()), #end #end")
					#elseif($fieldId == "attachment")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "priority")
						#set($value = $xmlutils.escape($issue.priorityObject.nameTranslation))
					#elseif($fieldId == "reporter")
						#set($value = $xmlutils.escape($issue.reporter.displayName))
					#elseif($fieldId == "creator")
						#set($value = $xmlutils.escape($issue.creator.displayName))
					#elseif($fieldId == "security")
						#set($value = $xmlutils.escape($issue.securityLevel.name))
					#elseif($fieldId == "summary")
						#set($value = $xmlutils.escape($issue.summary))
					#elseif($fieldId == "timetracking")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "created")
						#set($value = $userDateTimeFormatter.withStyle($dateTimeStyle.COMPLETE).format($issue.created))
					#elseif($fieldId == "updated")
						#set($value = $userDateTimeFormatter.withStyle($dateTimeStyle.COMPLETE).format($issue.updated))
					#elseif($fieldId == "resolutiondate")
						#set($value = $userDateTimeFormatter.withStyle($dateTimeStyle.COMPLETE).format($issue.resolutionDate))
					#elseif($fieldId == "status")
						#set($value = $xmlutils.escape($issue.statusObject.nameTranslation))
					#elseif($fieldId == "resolution")
						#set($value = "$xmlutils.escape($issue.resolutionObject.name)")
					#elseif($fieldId == "labels")
						#set($value = "#foreach($label in $issue.labels)$xmlutils.escape($label.label)#if($velocityCount < $issue.labels.size()), #end#end")
					#elseif($fieldId == "worklog")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "timeoriginalestimate")
						#set($value = "#if($issue.originalEstimate)$issue.getNiceTimeOriginalEstimate($i18n)#end")
					#elseif($fieldId == "timeestimate")
						#set($value = "#if($issue.estimate)$issue.getNiceTimeEstimate($i18n)#end")
					#elseif($fieldId == "timespent")
						#set($value = "#if($issue.timeSpent)$issue.getNiceTimeSpent($i18n)#end")
					#elseif($fieldId == "aggregatetimespent")
						#set($value = "#if($issue.aggregateTimeSpent)$issue.getNiceTimeAggregateTimeSpent($i18n)#end")
					#elseif($fieldId == "aggregatetimeestimate")
						#set($value = "#if($issue.aggregateRemainingEstimate)$issue.getNiceTimeAggregateRemainingEstimate($i18n)#end")
					#elseif($fieldId == "aggregatetimeoriginalestimate")
						#set($value = "#if($issue.aggregateOriginalEstimate)$issue.getNiceTimeAggregateOriginalEstimate($i18n)#end")
					#elseif($fieldId == "aggregateprogress")
						#set($percentage = '')
						#set($percentage = $columnLayoutItem.navigableField.calculateProgressPercentage($issue.aggregateTimeSpent, $issue.aggregateRemainingEstimate))
						#set($value = "#if($percentage != '')$percentage%#end")
					#elseif($fieldId == "progress")
						#set($percentage = '')
						#set($percentage = $columnLayoutItem.navigableField.calculateProgressPercentage($issue.timeSpent, $issue.estimate))
						#set($value = "#if($percentage != '')$percentage%#end")
					#elseif($fieldId == "votes")
						#set($value = $issue.votes)
					#elseif($fieldId == "voter")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId == "watches")
						#set($value = "$issue.watches")
					#elseif($fieldId == "watcher")
						#set($value = "$fieldId not supported yet")
					#elseif($fieldId.contains('customfield_'))
						#set($customFieldTypeKey = $columnLayoutItem.navigableField.customFieldType.key)
						#if(!$excludedCustomFieldTypeKeys.contains($customFieldTypeKey))
							#set($value = "#cfValue($columnLayoutItem.navigableField)")
						#end
					#else
						## should only happen for 'description', 'environment'

						## use the HTML representation
						#set($displayParams = $map.build())
						#set($valueHtml = '')
						#set($valueHtml = $columnLayoutItem.getHtml($displayParams, $issue).trim())

						## render
						#set($value = $pdfRenderer.htmlToFo($valueHtml))
					#end

					## convert URLs
					#if($value.indexOf("../download/resources") != -1)
						#set($relativeResourcesUrl = "${requestContext.baseUrl}/download/resources")
						#set($value = $value.replaceAll("../download/resources", $relativeResourcesUrl))
					#end

					<fo:table-cell border="thin solid #000" padding="0.5em">
						<fo:block-container overflow="hidden">
							<fo:block #if($columnLayoutItem.position == 0) id="$xmlutils.escape($issue.key)" #end >
								$value
							</fo:block>
						</fo:block-container>
					</fo:table-cell>
				#end
			</fo:table-row>
			#if(($velocityCount == $issues.size()) || (($issues.size() >= $startAutoPagingAt) && ($velocityCount % $rowsPerPage == 0)))
								</fo:table-body>
							</fo:table>
						</fo:block>
					</fo:flow>
				</fo:page-sequence>
			#end
		#end
	#else
		<fo:page-sequence master-reference="A4-landscape">
			<fo:flow flow-name="page-body" font-size="7pt">
				<fo:block>No issues found</fo:block>
			</fo:flow>
		</fo:page-sequence>
	#end
</fo:root>
